body{
    /* background-color: #072041; */
    /* #020b17 */
    color: #ffffff;
    margin: 0;
    font-family: 'Oxygen', 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

h1{
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    font-weight: 100;
    margin-bottom: 20px;
}

h2{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    font-weight: 100;
}


h3{
    font-size: 1.5em;
    width: max-content;
    background-color: rgba(255, 77, 90, 0.3);
    margin: 0;
    padding: 0;
    font-weight: 100;
}

em{
    font-style: normal;
    color: #ffffff;
    /* color: #ff4d5a; */
    /* background-color: #ff4d5a; */
    /* background-color: rgba(255, 77, 90, 0.3); */
    background-color: rgba(222,222,222,0.3);
    padding-left: 3px;
    padding-right: 3px;
    /* text-decoration: underline */
}

em[data-descr] {
    position: relative;
    /* text-decoration: underline; */
    /* color: #00f; */
    cursor: help;
  }

em[data-descr]:hover::after,
em[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  width:max-content;
  /* min-width: 200px; */
  /* border: 1px #aaaaaa solid; */
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

a{
    color: #ffffff;
}

a:visited{
    color: #ffffff;
}

#container{
    /* background-image: linear-gradient(#072041 20%, #020b17); */
    background-color: #020b17;
    color: #ffffff;
    /* height: 100vh; */
    /* position: absolute; */
    /* justify-content: center; */

}

/* #title, #portfolio{
    padding-top: 100px;
} */

.title{
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    text-align: center;
    padding-top: 100px;

    background-image: linear-gradient(#072041 20%, #020b17);

}

.bio{
    margin-top: 60px;
    /* font-size: 1em; */
    width: 70%;
}

.section{
    text-align: center;
    display: grid;
    justify-items: center;
    /* justify-content: center; */
    /* padding-top: 500px; */
    padding-bottom: 150px;
}

.section-title{
    font-size: 1.5em;
    background-color: #ff4d5a;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.division{
    display: grid;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 150px;
}

.line1, .line2{
    width: 100px;
    border: solid 2.5px #ff4d5a;
    border-radius: 5px;
    background-color: #ff4d5a;
    /* justify-content: center; */

    margin: auto;
    /* width: 30%; */

}

.line2{
    width: 70px;
    margin-top: 20px;
    /* margin-left: 50px; */
}

.window{
    margin-top: 50px;
    border: solid 1px rgba(222,222,222,0.2);
    border-radius: 8px;
    width: 800px;
    background-color: rgba(222,222,222,0.15);
    /* padding: 20px; */
}

.window-header{
    border-bottom: solid 1px rgba(222,222,222,0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: 190px 380px 190px;
    justify-items: center;
}

.window-header > div:first-child{
    margin-top: 4px;
}

.github-img{
    filter: brightness(0) invert(1);
    height: 35px;
}

.window-header-title{
    /* background-color: #020b17; */
    background-color: rgba(2, 11, 23,0.5);
    width: 350px;
    padding: 11px;
    padding-left: 11px;
    text-align: center;
    border-radius: 8px;
    border: solid 1px rgba(222,222,222,0.3);
    font-size: 0.9em;
}

.window-header-buttons{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    justify-items: end;
    width: -webkit-fill-available;
}

.window-header-buttons > div > div{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.window-header-buttons > div > div:nth-child(1){
    background-color: red;
}

.window-header-buttons > div > div:nth-child(2){
    background-color: yellow;
}

.window-header-buttons > div > div:nth-child(3){
    background-color: green;
}

.window-content{
    height: 520px;
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
}

.rwd-project{
    background-image: url('../images/rwb-project-thumb.png');
}

.js-a1{
    background-image: url('../images/js-a1-thumb.png');
}

.js-a2{
    background-image: url('../images/js-a2-thumb.png');
}

.js-a3{
    background-image: url('../images/js-a3-thumb.png');
}

.js-a4{
    background-image: url('../images/js-a4-thumb.png');
}

.js-a5{
    background-image: url('../images/js-a5-thumb.png');
}

.ajs-a1{
    background-image: url('../images/ajs-a1-thumb.png');
    height: 285px;
}

.ajs-a2{
    background-image: url('../images/ajs-a2-thumb.png');
    height: 367px;
}

.ajs-a3{
    background-image: url('../images/ajs-a3-thumb.png');
}

.ajs-a4{
    background-image: url('../images/ajs-a4-thumb.png');
}

.ajs-a5{
    background-image: url('../images/ajs-a5-thumb.png');
}

.php-a7{
    background-image: url('../images/php-a7-thumb.png');
}

.window-description{
    padding: 20px;
    text-align: left;
    font-size: 0.9em;
    color: rgba(222,222,222,0.7);
}

.company-list{
    margin-top: 50px;
}

.company-logo{
    width: 15%;
    max-width: 250px;
    aspect-ratio: 4/1;
    object-fit: contain;
    padding-left: 25px;
    padding-right: 25px;
}

.about-list{
    width: 800px;
    /* text-align: left; */
}

.about-contact{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
}

.about-contact > div{
    /* background-color: #ff4d5a; */
    /* background-color: rgba(255, 77, 90, 0.3); */
    background-color: rgba(222,222,222,0.2);
    font-size: 1.7em;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    transition: 0.5s;
    margin-left: 20px;
}

.about-contact > div:hover{
    background-color: #ff4d5a;
    /* background-color: rgba(255, 77, 90, 0.3); */
    /* background-color: rgba(222,222,222,0.2); */
    transition: 0.5s;
    cursor: pointer;
}

.about-contact > div:first-child{
    margin-left: 0px;
}